@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* 文本颜色 */
	.text {
		@apply text-gray-800 dark:text-gray-200;
	}
	/* 主背景 */
	.main-bg {
		@apply bg-white dark:bg-gray-900;
	}
	/* 内容区域背景 */
	.content-bg {
		@apply bg-gray-50 dark:bg-gray-800;
	}
	/* 悬浮背景 */
	.hover-bg {
		@apply hover:bg-gray-100 dark:hover:bg-gray-700;
	}
	/* 卡片背景 */
	.card-bg {
		@apply bg-white dark:bg-gray-900;
	}

	/* 用于编辑器工具栏 */
	.bubble-menu {
		@apply flex w-fit rounded-lg border border-gray-200 bg-white p-1 shadow-md dark:border-gray-700 dark:bg-gray-800 dark:shadow-gray-900;
	}

	/* 用于编辑器工具栏按钮 */
	.bubble-menu button {
		@apply rounded p-1 text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700;
	}

	/* 用于编辑器工具栏按钮激活状态 */
	.bubble-menu button.is-active {
		@apply bg-purple-500 text-white hover:bg-purple-600 dark:bg-purple-600 dark:hover:bg-purple-700;
	}

	/* 自定义滚动条样式组件 */
	.custom-scrollbar {
		/* 滚动条整体部分 */
		&::-webkit-scrollbar {
				width: 8px;
				height: 8px;
		}

		/* 滚动条轨道 */
		&::-webkit-scrollbar-track {
				@apply bg-transparent rounded;
		}

		/* 滚动条滑块 */
		&::-webkit-scrollbar-thumb {
				@apply bg-gray-300 rounded hover:bg-gray-400 transition-colors
							 dark:bg-gray-600 dark:hover:bg-gray-500;
		}

		/* Firefox 支持 */
		scrollbar-width: thin;
		scrollbar-color: theme('colors.gray.300') transparent;
	}
}

html,
body,
#app {
	height: 100%;
}
