@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* 文本颜色 */
	.text {
		@apply text-gray-800 dark:text-gray-200;
	}
	/* 主背景 */
	.main-bg {
		@apply bg-white dark:bg-gray-900;
	}
	/* 内容区域背景 */
	.content-bg {
		@apply bg-gray-50 dark:bg-gray-800;
	}
	/* 悬浮背景 */
	.hover-bg {
		@apply hover:bg-gray-100 dark:hover:bg-gray-700;
	}
	/* 卡片背景 */
	.card-bg {
		@apply bg-white dark:bg-gray-900;
	}

	/* 用于编辑器工具栏 */
	.bubble-menu {
		@apply bg-white dark:bg-gray-800 
           border border-gray-200 dark:border-gray-700
           rounded-lg 
           shadow-md dark:shadow-gray-900
           flex w-fit 
           p-1;
	}

	/* 用于编辑器工具栏按钮 */
	.bubble-menu button {
		@apply p-1 
           rounded
           hover:bg-gray-100 dark:hover:bg-gray-700
           text-gray-700 dark:text-gray-200;
	}

	/* 用于编辑器工具栏按钮激活状态 */
	.bubble-menu button.is-active {
		@apply bg-purple-500 dark:bg-purple-600
           text-white
           hover:bg-purple-600 dark:hover:bg-purple-700;
	}
}

html,
body,
#app {
	height: 100%;
}
